@model List<Product>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Kategoriler</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        #divmenu {
            height: 50px;
            background-color: antiquewhite;
            text-align: center;
            border-block-color: black;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <table class="table table-secondary">
                <thead>
                    <tr>
                        <th>ProductID</th>
                        <th>Product Name</th>
                        <th>CategoriID</th>
                        <th>Unit Price</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.ProductID</td>
                            <td>@product.ProductName</td>
                            <td>@product.CategoryID</td>
                            <td>@product.UnitPrice</td>
                            <td>@product.UnitsInStock</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>