@model List<Employee>

<div class="container">
    @foreach (var employee in Model)
    {
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="contact-list">
                <div class="contact-win">
                    <div class="contact-img">
                        <img src="~/image/employeePhoto/@employee.PhotoPath" style="height:100px;width:100px" alt="">
                    </div>
                    <div class="conct-sc-ic">
                        <a class="btn waves-effect" href="/Employee/GetByEmployeeId/@employee.EmployeeID"><i class="notika-icon notika-next"></i></a>Detay                        
                    </div>
                </div>
                <div class="contact-ctn">
                    <div class="contact-ad-hd">
                        <h2>@employee.FirstName @employee.LastName</h2>
                        <p class="ctn-ads">@employee.Address</p>
                    </div>
                    <p>@employee.Title</p>
                    <p>İşe Başlama Tarihi : @employee.HireDate</p>
                </div>
                <div class="social-st-list">
                    <div class="social-sn">
                        <h2>E-Mail:</h2>
                        <p>@employee.Email</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>




