@model ViewModelEmployeeOrders


@section getbyempIdCSS{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" />
}



<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="contact-list">
            <div class="contact-win">
                <div class="contact-img">
                    <img src="~/image/employeePhoto/@Model.Employee.PhotoPath" style="height:100px;width:100px" alt="">
                </div>
                <div class="conct-sc-ic">
                    <button id="btnOrders" class="btn waves-effect">Satışlar <i class="notika-icon notika-menu"></i></button>
                </div>
            </div>
            <div class="contact-ctn">
                <div class="contact-ad-hd">
                    <h2>@Model.Employee.FirstName @Model.Employee.LastName</h2>
                    <p class="ctn-ads">@Model.Employee.Address</p>
                </div>
                <p>@Model.Employee.Title</p>
                <p>İşe Başlama Tarihi : @Model.Employee.HireDate</p>
            </div>
            <div class="social-st-list">
                <div class="social-sn">
                    <h2>E-Mail:</h2>
                    <p>@Model.Employee.Email</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="col-6" id="d2" style="display:none">
                <table id="tblProducts" class="table">
                    <thead class="table-light">
                        <tr>
                            <th>Sıra No</th>
                            <th>Sipariş No</th>
                            <th>Sipariş Tarihi</th>
                            <th>Gönderilen Ülke</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                            foreach (var item in Model.Orders)
                            {
                                i += 1;
                                <tr>
                                    <td><b>@i</b></td>
                                    <td>@item.OrderID</td>
                                    <td>@(((DateTime)item.OrderDate).ToString("dd-MMM-yyyy"))</td>
                                    <td>@item.ShipCountry</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
        </div>
    </div>
</div>


@section getbyempIdScp{


    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

    <script>
        $("#btnOrders").click(function () {
            $("#d2").slideToggle(1000);
        });

        $('#tblProducts').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/tr.json"
            }
        });

    </script>

}

@*buton adı gizle göster diye değişiyor ve satışları gizleyip gösteriyor
        document.getElementById("btnOrders").addEventListener("click", function () {
        var content = document.getElementById("btnOrders").innerText
        if (content === "Satışları Göster") {
            document.getElementById("deneme").style.display = "";
            document.getElementById("btnOrders").innerHTML = "Satışları Gizle";
        } else if (content === "Satışları Gizle") {
            document.getElementById("deneme").style.display = "none";
            document.getElementById("btnOrders").innerHTML = "Satışları Göster";
        }
    });*@
